<div class="faq">
  <div class="row" ng-if="loggedIn(me.displayName)" style="max-width:100%; margin: 0;">
    <a href="#/feed" class="home-info"><i class="fa fa-home"></i></a>
    <div class="faq-header">
      <a href="#/feed"><img src="media/elefgee.png"></a>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 faq-wrap">
      <h1>What is ElEfGee?</h1>
      <hr />
      <div>
        <p>
          <b>ElEfGee</b> is an exaggerated term for LFG (Looking For Group), This project is the result of two young front end developers sacrificing some quality DOTA time to help users connect with one another. Please excuse the occasional bumps and dings, this is a work in progress and will change (for the better) a good bit over time.
        <p>
      </div>
      <br />
      <h1>How do posts work?</h1>
      <hr />
      <div>
        <p>
          The concept is very simple. Press the "LFG" button, select a game, write a description, then BAM! Everyone can see your posts and can contact you via Steam. We aimed to make the process as simple as possible to ensure quick connections.
        <p>
      </div>
      <br />
      <h1>I see someone I want to play with.. now what?</h1>
      <hr />
      <div>
        <p>
          Once you see a post that looks great, you have two options..
          <br />
          <br />
          1. <b>Click on the username.</b> Clicking a username takes you to our quick account view for some more details on the user. On this page you can see a rating scale, hours played on each game, and an overall level that we create based on total number of hours playing Steam games.
          <br />
          <br />
          2. <b>Click on the Steam button.</b> This will take you to the individual user's Steam account. Because you logged in to Steam from the beginning of the app, you will automatically be signed into Steam's website. From here you can send the user a message, add them as a friend, and more!
        <p>
      </div>
      <br />
      <h1>Wow this is great! But a have a few suggestions..</h1>
      <hr />
      <div>
        <p>
          Great! We would love to hear some feedback. Or if you want to just send us GIFs that's cool too.
          <br />
          <br />
          <b>Email us here:</b> samuel.c.grayson17@gmail.com
        <p>
      </div>
    </div>
  </div>
</div>
