<div class="row" ng-if="loggedIn(me.displayName)">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1>What is ElEfGee?</h1>
    <hr />
    <div>
      <p>
        <b>ElEfGee</b> is an exaggerated term for LFG (Looking For Group), This project is the result of two young front end developers sacrificing some quality DOTA time to help users connect with one another. Please excuse the occasional bumps and dings, this is a work in progress and will change (for the better) a good bit over time.
      <p>
    </div>
  </div>
</div>
